/* Menu barra lateral */
.menu-bar {
  overflow: hidden;
  left: 5em;
  z-index: 1000; /* Certifique-se de que o menu está acima de outros elementos */
  width: 0;
  height: 0;
  transition: all 0.3s ease-in-out; /* A transição pode ser mais suave */
  background-color: #f7f7f7; /* Adiciona cor de fundo ao menu */
}

/* O menu ficará visível quando a classe 'open' for aplicada */
.menu-bar.open {
  width: 100%; /* Expande para toda a largura da tela em dispositivos móveis */
  height: auto; /* Ajusta a altura automaticamente */
}

/* Estilos dos itens do menu */
.menu-bar li a {
  display: block;
  height: 4em;
  line-height: 4em;
  text-align: center;
  color: #72739f;
  text-decoration: none;
  font-family: verdana;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  transition: background 0.1s ease-in-out;
}

/* Altera a cor de fundo e o texto ao passar o mouse */
.menu-bar li a:hover {
  background: #267fdd;
  color: #fff;
}

/* Estilo do botão de menu (para alternar a visibilidade) */
.menu-button {
  background-color: #267fdd;
  color: white;
  font-size: 1.5em;
  border: none;
  padding: 1em;
  cursor: pointer;
}

/* Menu responsivo para telas pequenas */
@media all and (max-width: 500px) {
  .menu-bar {
      width: 100%;
      left: 0;
      bottom: 0;
      height: 0;
  }

  .open {
      width: 100%;
      height: auto;
  }
}
